.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: calc(var(--spacing) * 2);
  width: 100%;
  max-width: 700px;
}

.imgContainer {
  position: relative;
  width: 100%;
}

.img {
  border-radius: var(--radius);
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: color-mix(in srgb, var(--text), transparent 50%);

  @media only screen and (max-width: 576px) {
    gap: 10px;
  }
}
