.field {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  gap: var(--spacing);
}

.control {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--gray);
  border-radius: var(--radius);
}
