.root {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.checkbox {
  position: relative;
  cursor: pointer;
  width: auto;
}

.checkbox::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: color-mix(in srgb, var(--bg) 90%, var(--text) 10%);
  border: 2px solid color-mix(in srgb, var(--bg) 90%, var(--text) 10%);
  border-radius: 3px;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 6px;
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
