.widgetGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.widgetGroupItem {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  color: var(--dark);
}
