.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
}

.filds {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}