.trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.triggerButton {
  display: flex;
  align-items: center;
}

.subTrigger {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing);
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2)
    calc(var(--spacing) / 2) var(--spacing);
}

.menuItems {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
  background-color: var(--bg);
  min-width: 240px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow: auto;
  max-height: 80vh;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);

  &::before{
    content: '';
    position: absolute;
  }
}

.menuSubItems {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
  background-color: var(--bg);
  border-radius: var(--radius);
  margin-left: var(--spacing);
}

.menuItem {
  padding: calc(var(--spacing) / 2) var(--spacing) calc(var(--spacing) / 2)
    var(--spacing);
}
