.trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.triggerButton {
  display: flex;
  align-items: center;
}

.subTrigger {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing);
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2)
    calc(var(--spacing) / 2) var(--spacing);
}

.menuItems {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
  background-color: var(--bg);
  min-width: 240px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow: auto;
  max-height: 80vh;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);

  &::before {
    content: '';
    position: absolute;
  }
}

.menuSubItems {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
  background-color: var(--bg);
  border-radius: var(--radius);
  margin-left: var(--spacing);
}

.menuItem {
  padding: calc(var(--spacing) / 2) var(--spacing) calc(var(--spacing) / 2)
    var(--spacing);
}

.sidebar {
  margin: var(--spacing) calc(var(--spacing) * 2);
  padding: calc(var(--spacing));
  border-radius: var(--radius);

  &:hover {
    background-color: var(--secondary);
    transition-property: background-color, box-shadow, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.active {
  position: relative;
  background: var(--secondary);
  color: var(--primary);
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -5px;
    display: flex;
    align-items: center;
    height: 20px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--primary);
  }
}
