.shopMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: calc(var(--spacing));
  width: 100%;

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    gap: 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: color-mix(in srgb, var(--bg) 95%, var(--text) 5%);
      width: 100%;
      height: 60px;
    }
  }
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.nap {
  width: 100%;
  height: auto;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--bg) 95%, var(--text) 5%);
  cursor: pointer;

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column;
    gap: 0;
    font-size: 0.7rem;
    padding: 0px;
  }

  &.active {
    background-color: var(--primary);
    color: var(--light);

    @media (max-width: 768px) {
      position: relative;
      top: 0px;
      display: flex;
      align-items: center;
      left: 0;
      right: 0;
      width: 100px;
      background-color: transparent;
      color: var(--primary);
    }
  }
}

.iconContainer {
  @media (max-width: 768px) {
    &.active {
      border-radius: 30px;
      background-color: var(--bg);
      border: 10px solid var(--bg);
    }
  }
}

.icon {
  display: flex;
  padding: 7px;
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--bg) 95%, var(--text) 5%);

  &.active {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    background-color: var(--primary);
    color: var(--light);
  }

  @media (max-width: 768px) {
    padding-bottom: 0px;
    border-radius: 30px;

    &.active {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: var(--primary);
      color: var(--light);
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: 768px) {
    background-color: color-mix(in srgb, var(--bg) 95%, var(--text) 5%);
    padding: 10px;
    padding-top: 0px;
  }
}
