.container {
  padding: 0 var(--spacing);
}

.search {
  display: flex;
  gap: var(--spacing);
  padding: calc(var(--spacing));

  @media (min-width: 992px) {
    width: 400px;
  }
}

.group {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  justify-content: flex-end;
  margin: 4px 0;
}
