.container {
  padding: calc(var(--spacing) / 2);
  background-color: var(--bg);
  box-shadow: 0 0 100px 1px color-mix(in srgb, var(--text), transparent 50%);
  border-radius: var(--radius);
  width: calc(100vw - calc(var(--spacing) * 2));
}

.search {
  display: flex;
  gap: var(--spacing);
  padding: calc(var(--spacing));

  @media (min-width: 992px) {
    width: 463px;
  }
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  justify-content: flex-end;
  gap: var(--spacing);
  margin: 4px 0;
}
