.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing);
}

.options {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  background-color: var(--bg);
  box-shadow: var(--shadow);
  padding: calc(var(--spacing) * 2);
  cursor: pointer;
}
