.quantityTitle,
.priceTitle {
  color: color-mix(in srgb, var(--text), transparent 50%);
}

.quantityContent {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  transition: all 0.5s ease 0s;
  height: 44px;
  width: 170px;
}

.priceNumber {
  font-size: 2rem;
  line-height: 44px;
}
