.message {
  margin-top: calc(var(--spacing) / 4);
  color: var(--error);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
