.logo {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) / 2);
  padding: var(--spacing);
  text-transform: uppercase;
  position: relative;
  color: var(--text-heading);
  font-weight: 700;
  font-size: 1.4rem;

  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    z-index: -1;
    background: url('../../../../../assets/images/logo/logo.png') no-repeat center center;
    background-size: cover;
    height: 40px;
    width: 40px;
  }
}
