.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: var(--bg);
}

.imgContainer {
  overflow: hidden;
  position: relative;
  padding: 0 0 100% 0;
}

.img {
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.price {
  white-space: nowrap;
  opacity: 0.5;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing);
  padding: var(--spacing);
  width: 100%;

  background-color: var(--bg);
}
