.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.5s ease 0s;

  &.active {
    background-color: var(--primary);
    color: white;
  }
}
