.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
