:root,
html[data-theme='light'] {
  --dark: black;
  --light: white;
  --gray: #eff2f5;
  --gold: #ebcd27;
  --primary: #3861fb;
  --secondary: color-mix(in srgb, var(--primary), transparent 90%);
  --success: rgb(86, 143, 69);
  --warning: rgb(143, 126, 69);
  --error: rgb(143, 69, 69);
  --info: #566fdc;

  --spacing: 10px;
  --radius: 5px;

  --bg: rgb(255, 255, 255);
  --text: black;
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --shadow: 0 0 200px 1px rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] {
  --bg: rgb(13 20 33);
  --text: white;
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --shadow: 0 0 200px 1px rgba(255, 255, 255, 0.1);
}
